PROJECT_NAME=united
APP_ENV=dev
APP_DEPLOYMENT_ENV=local
APP_SECRET=change-me-local-secret
APP_DEBUG=1
APP_TIMEZONE=America/Recife
APP_PORT=8080
ADMINER_PORT=8081
POSTGRES_PORT=5432
POSTGRES_DB=united
POSTGRES_USER=united
POSTGRES_PASSWORD=united
DATABASE_URL=postgresql://united:united@postgres:5432/united?serverVersion=16&charset=utf8
DEFAULT_URI=https://united.atisolution.com.br
CORS_ALLOW_ORIGIN=^https://united\.atisolution\.com\.br$
